@font-face {
  font-family: Amelia-Basic;
  src: url("../fonts/Amelia/Amelia-Basic.otf"); }

@font-face {
  font-family: Amelia-Basic-Light;
  font-weight: lighter;
  src: url("../fonts/Amelia/Amelia-Basic-Light.otf"); }

@font-face {
  font-family: Amelia-Basic-Bold;
  font-weight: bold;
  src: url("../fonts/Amelia/Amelia-Basic-Bold.otf"); }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Amelia-Basic', sans-serif;
  background-image: url("../img/fundo.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh; }
  body::after {
    content: '';
    width: 100%;
    height: 100vh;
    background-image: url(../img/fundo/escaravelhos.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .2;
    z-index: -1; }

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 50px; }
  @media screen and (max-width: 768px) {
    .header {
      padding: 50px; } }
  @media screen and (max-width: 515px) {
    .header {
      padding: 50px 0; } }
  .header .header-title {
    color: #0099cc;
    font-size: 1.6em;
    font-family: 'Amelia-Basic-Light', sans-serif;
    text-transform: uppercase;
    padding: 0 20px; }

.main {
  margin: 0 50px 50px 50px;
  padding: 0 25px; }
  @media screen and (max-width: 768px) {
    .main {
      margin: 0;
      padding: 0 70px; } }
  @media screen and (max-width: 515px) {
    .main {
      margin: 0;
      padding: 0 25px; } }
  .main .main-content .dados-titulo {
    text-align: left;
    text-transform: uppercase;
    font-size: 1.3em;
    margin-bottom: 20px;
    color: #0099cc;
    font-family: 'Amelia-Basic-Bold', sans-serif; }
  .main .main-content .dados-child {
    display: flex;
    flex-direction: column; }
    .main .main-content .dados-child .dado {
      margin: 20px 0;
      display: flex;
      flex-direction: column;
      font-size: 1.2em;
      width: 60%; }
      @media screen and (max-width: 768px) {
        .main .main-content .dados-child .dado {
          width: 100%; } }
      @media screen and (max-width: 515px) {
        .main .main-content .dados-child .dado {
          width: 100%; } }
      .main .main-content .dados-child .dado label {
        margin-bottom: 5px;
        color: #0099cc;
        font-weight: 400; }
      .main .main-content .dados-child .dado input {
        width: 52%;
        padding: 5px 20px;
        font-size: .8em;
        border: none;
        border: 1px solid #0099cc;
        border-radius: 100px;
        color: #0099cc;
        font-weight: 300;
        font-family: 'Amelia-Basic-Light', sans-serif; }
        @media screen and (max-width: 768px) {
          .main .main-content .dados-child .dado input {
            width: 100%; } }
        @media screen and (max-width: 515px) {
          .main .main-content .dados-child .dado input {
            width: 100%; } }
      .main .main-content .dados-child .dado input[type=number].custo-ilum {
        background-color: rgba(0, 0, 0, 0.04); }
      .main .main-content .dados-child .dado input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none; }
      .main .main-content .dados-child .dado input:focus {
        outline: none; }
      .main .main-content .dados-child .dado .sel {
        width: 52%;
        -webkit-appearance: none;
        -moz-appearance: none;
        background: url("../img/seta.png") no-repeat 95% center;
        appearance: none;
        padding: 5px 20px;
        font-size: .8em;
        color: #808080;
        font-family: 'Amelia-Basic-Light', sans-serif;
        overflow: hidden;
        border: none;
        border: 1px solid #0099cc;
        border-radius: 100px;
        background-color: #fff; }
        @media screen and (max-width: 768px) {
          .main .main-content .dados-child .dado .sel {
            width: 100%; } }
        @media screen and (max-width: 515px) {
          .main .main-content .dados-child .dado .sel {
            width: 100%; } }
      .main .main-content .dados-child .dado .sel:focus {
        outline: none; }
      .main .main-content .dados-child .dado .sel::-ms-expand {
        display: none; }
      .main .main-content .dados-child .dado .sel-disable {
        background-color: #0099cc;
        background-image: none;
        color: #fff; }
      .main .main-content .dados-child .dado .pop-temp {
        color: #0099cc;
        font-size: .8em;
        margin-left: 10px; }
      .main .main-content .dados-child .dado .pop-inclinacao {
        color: #0099cc;
        font-size: .8em;
        margin-left: 10px; }
    .main .main-content .dados-child .hide-cop-rend {
      display: none; }
    .main .main-content .dados-child .hide-age {
      display: none; }
    .main .main-content .dados-child .hide-perfil-mensal {
      display: none; }
    .main .main-content .dados-child .hide-perfil-semanal {
      display: none; }
    .main .main-content .dados-child .hide-nota {
      display: none; }
    .main .main-content .dados-child .nota-outro-desvio {
      color: red; }
    .main .main-content .dados-child .area-note {
      color: red;
      font-size: 1em; }
    .main .main-content .dados-child .excedente-note {
      color: red;
      font-size: 1em; }
    .main .main-content .dados-child .tabela-diaria table {
      background-color: rgba(242, 242, 242, 0); }
      .main .main-content .dados-child .tabela-diaria table tbody .titulo_row {
        background-color: rgba(242, 242, 242, 0.9); }
      .main .main-content .dados-child .tabela-diaria table tbody tr,
      .main .main-content .dados-child .tabela-diaria table tbody .textTR {
        color: #0099cc;
        text-align: center; }
        .main .main-content .dados-child .tabela-diaria table tbody tr .tituloTH,
        .main .main-content .dados-child .tabela-diaria table tbody .textTR .tituloTH {
          text-align: center;
          vertical-align: middle;
          color: #0099cc; }
        .main .main-content .dados-child .tabela-diaria table tbody tr td,
        .main .main-content .dados-child .tabela-diaria table tbody tr td.in,
        .main .main-content .dados-child .tabela-diaria table tbody .textTR td,
        .main .main-content .dados-child .tabela-diaria table tbody .textTR td.in {
          height: 40px;
          padding: 0;
          text-align: center;
          vertical-align: middle;
          margin: 0;
          background-color: rgba(255, 255, 255, 0.9); }
          .main .main-content .dados-child .tabela-diaria table tbody tr td input.xInput,
          .main .main-content .dados-child .tabela-diaria table tbody tr td.in input.xInput,
          .main .main-content .dados-child .tabela-diaria table tbody .textTR td input.xInput,
          .main .main-content .dados-child .tabela-diaria table tbody .textTR td.in input.xInput {
            border: none;
            border-radius: 0;
            text-align: center;
            margin: 0;
            padding: 0;
            height: 40px;
            background-color: rgba(255, 255, 255, 0.7); }
          .main .main-content .dados-child .tabela-diaria table tbody tr td input[type=number]::-webkit-inner-spin-button,
          .main .main-content .dados-child .tabela-diaria table tbody tr td.in input[type=number]::-webkit-inner-spin-button,
          .main .main-content .dados-child .tabela-diaria table tbody .textTR td input[type=number]::-webkit-inner-spin-button,
          .main .main-content .dados-child .tabela-diaria table tbody .textTR td.in input[type=number]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            -moz-appearance: none; }
          .main .main-content .dados-child .tabela-diaria table tbody tr td input.xInput::-webkit-input-placeholder,
          .main .main-content .dados-child .tabela-diaria table tbody tr td.in input.xInput::-webkit-input-placeholder,
          .main .main-content .dados-child .tabela-diaria table tbody .textTR td input.xInput::-webkit-input-placeholder,
          .main .main-content .dados-child .tabela-diaria table tbody .textTR td.in input.xInput::-webkit-input-placeholder {
            color: #DCDCDC; }
          .main .main-content .dados-child .tabela-diaria table tbody tr td input.xInput::-moz-placeholder,
          .main .main-content .dados-child .tabela-diaria table tbody tr td.in input.xInput::-moz-placeholder,
          .main .main-content .dados-child .tabela-diaria table tbody .textTR td input.xInput::-moz-placeholder,
          .main .main-content .dados-child .tabela-diaria table tbody .textTR td.in input.xInput::-moz-placeholder {
            color: #DCDCDC; }
          .main .main-content .dados-child .tabela-diaria table tbody tr td input.xInput:-ms-input-placeholder,
          .main .main-content .dados-child .tabela-diaria table tbody tr td.in input.xInput:-ms-input-placeholder,
          .main .main-content .dados-child .tabela-diaria table tbody .textTR td input.xInput:-ms-input-placeholder,
          .main .main-content .dados-child .tabela-diaria table tbody .textTR td.in input.xInput:-ms-input-placeholder {
            color: #DCDCDC; }
          .main .main-content .dados-child .tabela-diaria table tbody tr td input.xInput:-moz-placeholder,
          .main .main-content .dados-child .tabela-diaria table tbody tr td.in input.xInput:-moz-placeholder,
          .main .main-content .dados-child .tabela-diaria table tbody .textTR td input.xInput:-moz-placeholder,
          .main .main-content .dados-child .tabela-diaria table tbody .textTR td.in input.xInput:-moz-placeholder {
            color: #DCDCDC; }
        .main .main-content .dados-child .tabela-diaria table tbody tr td.select-cell,
        .main .main-content .dados-child .tabela-diaria table tbody .textTR td.select-cell {
          padding: 0;
          vertical-align: middle; }
          .main .main-content .dados-child .tabela-diaria table tbody tr td.select-cell select,
          .main .main-content .dados-child .tabela-diaria table tbody .textTR td.select-cell select {
            width: 100%;
            border: none;
            background-color: transparent;
            text-align-last: center; }
            .main .main-content .dados-child .tabela-diaria table tbody tr td.select-cell select:focus,
            .main .main-content .dados-child .tabela-diaria table tbody .textTR td.select-cell select:focus {
              outline: none; }
            .main .main-content .dados-child .tabela-diaria table tbody tr td.select-cell select .op,
            .main .main-content .dados-child .tabela-diaria table tbody .textTR td.select-cell select .op {
              text-align-last: center; }
    .main .main-content .dados-child .tabelas table,
    .main .main-content .dados-child .tabela-diaria table {
      background-color: rgba(242, 242, 242, 0); }
      .main .main-content .dados-child .tabelas table tbody .titulo_row,
      .main .main-content .dados-child .tabela-diaria table tbody .titulo_row {
        background-color: rgba(242, 242, 242, 0.9); }
      .main .main-content .dados-child .tabelas table tbody tr,
      .main .main-content .dados-child .tabelas table tbody .textTR,
      .main .main-content .dados-child .tabela-diaria table tbody tr,
      .main .main-content .dados-child .tabela-diaria table tbody .textTR {
        color: #0099cc;
        text-align: center; }
        .main .main-content .dados-child .tabelas table tbody tr .tituloTH,
        .main .main-content .dados-child .tabelas table tbody .textTR .tituloTH,
        .main .main-content .dados-child .tabela-diaria table tbody tr .tituloTH,
        .main .main-content .dados-child .tabela-diaria table tbody .textTR .tituloTH {
          text-align: center;
          vertical-align: middle;
          color: #0099cc; }
        .main .main-content .dados-child .tabelas table tbody tr td,
        .main .main-content .dados-child .tabelas table tbody tr td.in,
        .main .main-content .dados-child .tabelas table tbody .textTR td,
        .main .main-content .dados-child .tabelas table tbody .textTR td.in,
        .main .main-content .dados-child .tabela-diaria table tbody tr td,
        .main .main-content .dados-child .tabela-diaria table tbody tr td.in,
        .main .main-content .dados-child .tabela-diaria table tbody .textTR td,
        .main .main-content .dados-child .tabela-diaria table tbody .textTR td.in {
          height: 40px;
          padding: 0;
          text-align: center;
          vertical-align: middle;
          margin: 0;
          background-color: rgba(255, 255, 255, 0.9);
          /*.form-control
                                    width: 100px*/ }
          .main .main-content .dados-child .tabelas table tbody tr td input.xInput,
          .main .main-content .dados-child .tabelas table tbody tr td.in input.xInput,
          .main .main-content .dados-child .tabelas table tbody .textTR td input.xInput,
          .main .main-content .dados-child .tabelas table tbody .textTR td.in input.xInput,
          .main .main-content .dados-child .tabela-diaria table tbody tr td input.xInput,
          .main .main-content .dados-child .tabela-diaria table tbody tr td.in input.xInput,
          .main .main-content .dados-child .tabela-diaria table tbody .textTR td input.xInput,
          .main .main-content .dados-child .tabela-diaria table tbody .textTR td.in input.xInput {
            border: none;
            border-radius: 0;
            text-align: center;
            margin: 0;
            padding: 0;
            height: 40px;
            background-color: rgba(255, 255, 255, 0.7); }
          .main .main-content .dados-child .tabelas table tbody tr td input[type=number]::-webkit-inner-spin-button,
          .main .main-content .dados-child .tabelas table tbody tr td.in input[type=number]::-webkit-inner-spin-button,
          .main .main-content .dados-child .tabelas table tbody .textTR td input[type=number]::-webkit-inner-spin-button,
          .main .main-content .dados-child .tabelas table tbody .textTR td.in input[type=number]::-webkit-inner-spin-button,
          .main .main-content .dados-child .tabela-diaria table tbody tr td input[type=number]::-webkit-inner-spin-button,
          .main .main-content .dados-child .tabela-diaria table tbody tr td.in input[type=number]::-webkit-inner-spin-button,
          .main .main-content .dados-child .tabela-diaria table tbody .textTR td input[type=number]::-webkit-inner-spin-button,
          .main .main-content .dados-child .tabela-diaria table tbody .textTR td.in input[type=number]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            -moz-appearance: none; }
          .main .main-content .dados-child .tabelas table tbody tr td input.xInput::-webkit-input-placeholder,
          .main .main-content .dados-child .tabelas table tbody tr td.in input.xInput::-webkit-input-placeholder,
          .main .main-content .dados-child .tabelas table tbody .textTR td input.xInput::-webkit-input-placeholder,
          .main .main-content .dados-child .tabelas table tbody .textTR td.in input.xInput::-webkit-input-placeholder,
          .main .main-content .dados-child .tabela-diaria table tbody tr td input.xInput::-webkit-input-placeholder,
          .main .main-content .dados-child .tabela-diaria table tbody tr td.in input.xInput::-webkit-input-placeholder,
          .main .main-content .dados-child .tabela-diaria table tbody .textTR td input.xInput::-webkit-input-placeholder,
          .main .main-content .dados-child .tabela-diaria table tbody .textTR td.in input.xInput::-webkit-input-placeholder {
            color: #DCDCDC; }
          .main .main-content .dados-child .tabelas table tbody tr td input.xInput::-moz-placeholder,
          .main .main-content .dados-child .tabelas table tbody tr td.in input.xInput::-moz-placeholder,
          .main .main-content .dados-child .tabelas table tbody .textTR td input.xInput::-moz-placeholder,
          .main .main-content .dados-child .tabelas table tbody .textTR td.in input.xInput::-moz-placeholder,
          .main .main-content .dados-child .tabela-diaria table tbody tr td input.xInput::-moz-placeholder,
          .main .main-content .dados-child .tabela-diaria table tbody tr td.in input.xInput::-moz-placeholder,
          .main .main-content .dados-child .tabela-diaria table tbody .textTR td input.xInput::-moz-placeholder,
          .main .main-content .dados-child .tabela-diaria table tbody .textTR td.in input.xInput::-moz-placeholder {
            color: #DCDCDC; }
          .main .main-content .dados-child .tabelas table tbody tr td input.xInput:-ms-input-placeholder,
          .main .main-content .dados-child .tabelas table tbody tr td.in input.xInput:-ms-input-placeholder,
          .main .main-content .dados-child .tabelas table tbody .textTR td input.xInput:-ms-input-placeholder,
          .main .main-content .dados-child .tabelas table tbody .textTR td.in input.xInput:-ms-input-placeholder,
          .main .main-content .dados-child .tabela-diaria table tbody tr td input.xInput:-ms-input-placeholder,
          .main .main-content .dados-child .tabela-diaria table tbody tr td.in input.xInput:-ms-input-placeholder,
          .main .main-content .dados-child .tabela-diaria table tbody .textTR td input.xInput:-ms-input-placeholder,
          .main .main-content .dados-child .tabela-diaria table tbody .textTR td.in input.xInput:-ms-input-placeholder {
            color: #DCDCDC; }
          .main .main-content .dados-child .tabelas table tbody tr td input.xInput:-moz-placeholder,
          .main .main-content .dados-child .tabelas table tbody tr td.in input.xInput:-moz-placeholder,
          .main .main-content .dados-child .tabelas table tbody .textTR td input.xInput:-moz-placeholder,
          .main .main-content .dados-child .tabelas table tbody .textTR td.in input.xInput:-moz-placeholder,
          .main .main-content .dados-child .tabela-diaria table tbody tr td input.xInput:-moz-placeholder,
          .main .main-content .dados-child .tabela-diaria table tbody tr td.in input.xInput:-moz-placeholder,
          .main .main-content .dados-child .tabela-diaria table tbody .textTR td input.xInput:-moz-placeholder,
          .main .main-content .dados-child .tabela-diaria table tbody .textTR td.in input.xInput:-moz-placeholder {
            color: #DCDCDC; }
          .main .main-content .dados-child .tabelas table tbody tr td .but-dados,
          .main .main-content .dados-child .tabelas table tbody tr td.in .but-dados,
          .main .main-content .dados-child .tabelas table tbody .textTR td .but-dados,
          .main .main-content .dados-child .tabelas table tbody .textTR td.in .but-dados,
          .main .main-content .dados-child .tabela-diaria table tbody tr td .but-dados,
          .main .main-content .dados-child .tabela-diaria table tbody tr td.in .but-dados,
          .main .main-content .dados-child .tabela-diaria table tbody .textTR td .but-dados,
          .main .main-content .dados-child .tabela-diaria table tbody .textTR td.in .but-dados {
            width: 100%;
            height: 34px;
            border: none;
            background-color: rgba(255, 255, 255, 0.9); }
            .main .main-content .dados-child .tabelas table tbody tr td .but-dados:hover,
            .main .main-content .dados-child .tabelas table tbody tr td.in .but-dados:hover,
            .main .main-content .dados-child .tabelas table tbody .textTR td .but-dados:hover,
            .main .main-content .dados-child .tabelas table tbody .textTR td.in .but-dados:hover,
            .main .main-content .dados-child .tabela-diaria table tbody tr td .but-dados:hover,
            .main .main-content .dados-child .tabela-diaria table tbody tr td.in .but-dados:hover,
            .main .main-content .dados-child .tabela-diaria table tbody .textTR td .but-dados:hover,
            .main .main-content .dados-child .tabela-diaria table tbody .textTR td.in .but-dados:hover {
              text-decoration: underline; }
            .main .main-content .dados-child .tabelas table tbody tr td .but-dados:focus,
            .main .main-content .dados-child .tabelas table tbody tr td.in .but-dados:focus,
            .main .main-content .dados-child .tabelas table tbody .textTR td .but-dados:focus,
            .main .main-content .dados-child .tabelas table tbody .textTR td.in .but-dados:focus,
            .main .main-content .dados-child .tabela-diaria table tbody tr td .but-dados:focus,
            .main .main-content .dados-child .tabela-diaria table tbody tr td.in .but-dados:focus,
            .main .main-content .dados-child .tabela-diaria table tbody .textTR td .but-dados:focus,
            .main .main-content .dados-child .tabela-diaria table tbody .textTR td.in .but-dados:focus {
              outline: none; }
        .main .main-content .dados-child .tabelas table tbody tr td.input-table,
        .main .main-content .dados-child .tabelas table tbody .textTR td.input-table,
        .main .main-content .dados-child .tabela-diaria table tbody tr td.input-table,
        .main .main-content .dados-child .tabela-diaria table tbody .textTR td.input-table {
          height: 30px;
          padding: 0;
          text-align: center;
          vertical-align: middle;
          margin: 0;
          background-color: rgba(255, 255, 255, 0.9);
          /*.form-control
                                    width: 100px*/ }
          .main .main-content .dados-child .tabelas table tbody tr td.input-table input.xInput,
          .main .main-content .dados-child .tabelas table tbody .textTR td.input-table input.xInput,
          .main .main-content .dados-child .tabela-diaria table tbody tr td.input-table input.xInput,
          .main .main-content .dados-child .tabela-diaria table tbody .textTR td.input-table input.xInput {
            border: none;
            border-radius: 0;
            text-align: center;
            margin: 0;
            padding: 0;
            background-color: rgba(255, 255, 255, 0.7); }
          .main .main-content .dados-child .tabelas table tbody tr td.input-table input[type=number]::-webkit-inner-spin-button,
          .main .main-content .dados-child .tabelas table tbody .textTR td.input-table input[type=number]::-webkit-inner-spin-button,
          .main .main-content .dados-child .tabela-diaria table tbody tr td.input-table input[type=number]::-webkit-inner-spin-button,
          .main .main-content .dados-child .tabela-diaria table tbody .textTR td.input-table input[type=number]::-webkit-inner-spin-button {
            -webkit-appearance: none; }
          .main .main-content .dados-child .tabelas table tbody tr td.input-table input.xInput::-webkit-input-placeholder,
          .main .main-content .dados-child .tabelas table tbody .textTR td.input-table input.xInput::-webkit-input-placeholder,
          .main .main-content .dados-child .tabela-diaria table tbody tr td.input-table input.xInput::-webkit-input-placeholder,
          .main .main-content .dados-child .tabela-diaria table tbody .textTR td.input-table input.xInput::-webkit-input-placeholder {
            color: #DCDCDC; }
          .main .main-content .dados-child .tabelas table tbody tr td.input-table input.xInput::-moz-placeholder,
          .main .main-content .dados-child .tabelas table tbody .textTR td.input-table input.xInput::-moz-placeholder,
          .main .main-content .dados-child .tabela-diaria table tbody tr td.input-table input.xInput::-moz-placeholder,
          .main .main-content .dados-child .tabela-diaria table tbody .textTR td.input-table input.xInput::-moz-placeholder {
            color: #DCDCDC; }
          .main .main-content .dados-child .tabelas table tbody tr td.input-table input.xInput:-ms-input-placeholder,
          .main .main-content .dados-child .tabelas table tbody .textTR td.input-table input.xInput:-ms-input-placeholder,
          .main .main-content .dados-child .tabela-diaria table tbody tr td.input-table input.xInput:-ms-input-placeholder,
          .main .main-content .dados-child .tabela-diaria table tbody .textTR td.input-table input.xInput:-ms-input-placeholder {
            color: #DCDCDC; }
          .main .main-content .dados-child .tabelas table tbody tr td.input-table input.xInput:-moz-placeholder,
          .main .main-content .dados-child .tabelas table tbody .textTR td.input-table input.xInput:-moz-placeholder,
          .main .main-content .dados-child .tabela-diaria table tbody tr td.input-table input.xInput:-moz-placeholder,
          .main .main-content .dados-child .tabela-diaria table tbody .textTR td.input-table input.xInput:-moz-placeholder {
            color: #DCDCDC; }
        .main .main-content .dados-child .tabelas table tbody tr td.select-cell,
        .main .main-content .dados-child .tabelas table tbody .textTR td.select-cell,
        .main .main-content .dados-child .tabela-diaria table tbody tr td.select-cell,
        .main .main-content .dados-child .tabela-diaria table tbody .textTR td.select-cell {
          padding: 0;
          vertical-align: middle; }
          .main .main-content .dados-child .tabelas table tbody tr td.select-cell select,
          .main .main-content .dados-child .tabelas table tbody .textTR td.select-cell select,
          .main .main-content .dados-child .tabela-diaria table tbody tr td.select-cell select,
          .main .main-content .dados-child .tabela-diaria table tbody .textTR td.select-cell select {
            width: 100%;
            border: none;
            background-color: transparent;
            text-align-last: center; }
            .main .main-content .dados-child .tabelas table tbody tr td.select-cell select:focus,
            .main .main-content .dados-child .tabelas table tbody .textTR td.select-cell select:focus,
            .main .main-content .dados-child .tabela-diaria table tbody tr td.select-cell select:focus,
            .main .main-content .dados-child .tabela-diaria table tbody .textTR td.select-cell select:focus {
              outline: none; }
            .main .main-content .dados-child .tabelas table tbody tr td.select-cell select .op,
            .main .main-content .dados-child .tabelas table tbody .textTR td.select-cell select .op,
            .main .main-content .dados-child .tabela-diaria table tbody tr td.select-cell select .op,
            .main .main-content .dados-child .tabela-diaria table tbody .textTR td.select-cell select .op {
              text-align-last: center; }
  .main .main-content #resumo table {
    background-color: #f2f2f2;
    width: 50%; }
    @media screen and (max-width: 768px) {
      .main .main-content #resumo table {
        width: 100%; } }
    @media screen and (max-width: 515px) {
      .main .main-content #resumo table {
        width: 100%; } }
    .main .main-content #resumo table tbody tr,
    .main .main-content #resumo table tbody .textTR {
      color: #0099cc;
      text-align: left; }
      .main .main-content #resumo table tbody tr .tituloTH,
      .main .main-content #resumo table tbody .textTR .tituloTH {
        text-align: center;
        vertical-align: middle;
        color: #0099cc; }
      .main .main-content #resumo table tbody tr td,
      .main .main-content #resumo table tbody tr td.in,
      .main .main-content #resumo table tbody .textTR td,
      .main .main-content #resumo table tbody .textTR td.in {
        padding: 5px 10px;
        text-align: left;
        vertical-align: middle;
        margin: 0;
        background-color: #fff; }
      .main .main-content #resumo table tbody tr td.center,
      .main .main-content #resumo table tbody .textTR td.center {
        text-align: center;
        color: #696969;
        width: 20%;
        /*.form-control
                                width: 100px*/ }
        .main .main-content #resumo table tbody tr td.center .xInput,
        .main .main-content #resumo table tbody .textTR td.center .xInput {
          border: none;
          border-radius: 0;
          text-align: center;
          margin: 0; }
        .main .main-content #resumo table tbody tr td.center .xInput::-webkit-input-placeholder,
        .main .main-content #resumo table tbody .textTR td.center .xInput::-webkit-input-placeholder {
          color: #DCDCDC; }
        .main .main-content #resumo table tbody tr td.center .xInput::-moz-placeholder,
        .main .main-content #resumo table tbody .textTR td.center .xInput::-moz-placeholder {
          color: #DCDCDC; }
        .main .main-content #resumo table tbody tr td.center .xInput:-ms-input-placeholder,
        .main .main-content #resumo table tbody .textTR td.center .xInput:-ms-input-placeholder {
          color: #DCDCDC; }
        .main .main-content #resumo table tbody tr td.center .xInput:-moz-placeholder,
        .main .main-content #resumo table tbody .textTR td.center .xInput:-moz-placeholder {
          color: #DCDCDC; }
      .main .main-content #resumo table tbody tr td.sub,
      .main .main-content #resumo table tbody .textTR td.sub {
        background-color: #eeeeff;
        padding-left: 30px;
        display: none; }
      .main .main-content #resumo table tbody tr td.sub-val,
      .main .main-content #resumo table tbody .textTR td.sub-val {
        background-color: #eeeeff;
        display: none; }
  .main .main-content .step {
    display: none; }

.but-2,
.end-step {
  padding: 20px 0;
  display: flex;
  justify-content: space-between; }
  .but-2 .but,
  .end-step .but {
    font-size: 1.1em;
    padding: 8px 25px;
    background-color: #0099cc;
    border: none;
    border-radius: 100px;
    color: #fff;
    font-family: 'Amelia-Basic-Light', sans-serif;
    transition: all .2s; }
    .but-2 .but:focus,
    .end-step .but:focus {
      outline: none; }
    .but-2 .but:hover,
    .end-step .but:hover {
      background-color: #67C8FF; }
  .but-2 button#analise-but,
  .but-2 button#reanalise-but,
  .end-step button#analise-but,
  .end-step button#reanalise-but {
    float: right; }
  .but-2 .anterior,
  .end-step .anterior {
    display: none; }

.step-but {
  display: none; }

/*footer
    height: 200px
    background-color: #fff
    border-top: 1px solid rgba(#0099cc, .7)
    margin-top: 300px

    display: flex
    justify-content: center
    align-items: center

    .partners
        padding: 20px 0
        text-align: center

        .partners-img
            width: 20%
            margin: 10px

        .rep-port
            width: 9%

        .port-energia
            width: 9%

        .dgeg
            width: 12%

        .lnec
            width: 10%

        .ee
            width: 4%

        .adene
            width: 9%

        .posteur
            width: 9%

        .port-2020
            width: 9%

        .ue
            width: 11%

        .conf-text
            display: inline-block

        .partner-link
            margin: 0 10px

    .policy
        padding: 10px
        text-align: center

        .policy-link
            margin-right: 20px
            text-decoration: none
            color: #0083c4*/
@media only screen and (min-width: 1920px) {
  body {
    background-position: 50% 180px, center; } }
